webiner_list/webiner_list/__pycache__/*
webiner_list/webiner_list/pipelines/__pycache__/*
webiner_list/webiner_list/spiders/__pycache__/*
webiner_list/webiner_list/spiders/__pycache__/scrapy_azure_official_spider.cpython-39.pyc
